{% extends 'base.html' %}

{% block content %}
  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">
    <h2 class="mb-4">Login</h2>
    <div class="card rounded bg-light p-3" style="width: 25rem; height: 22rem;">
      <form class="card-body d-flex flex-column justify-content-around" action="/login" method="POST">
        <div class="d-flex flex-column">
          <label for="email">Email:</label>
          <input class="form-control" type="email" name="email" id="email" required>
        </div>
        <div class="d-flex flex-column">
          <label for="password">Password:</label>
          <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-info">Sign In</button>
      </form>
      <small class="align-self-center">New user? <a href="/signup">Register Here</a></small>
    </div>
  </div>
{% endblock %}