{% extends 'base.html' %}

{% block content %}
  <div class="container mt-3">
    <div class='d-flex'>
      <h2 class="mb-4">Donor Profile - {{ user.name or 'GUEST USER' }}</h2>
      <img class='ml-3' src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" height='40' width='40' style="border-radius: 50px;">
    </div>
    <h3>Total Donated: ${{ user.total_donated or 1100 }}</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-5">
      <div class="col-12 col-lg-6">
        <!-- DONATIONS MADE -->
        <h4>Donations Made:</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
          {% include 'partials/donations_show_for_loop.html' %}
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <!-- Charities Donated To -->
        <h4>Donated to:</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex flex-wrap">
          {% include 'partials/charities_show_for_loop.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}